body {
  font-family: 'Lato', sans-serif;
  color: #777;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  .heading-primary--main {
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2rem;
    display: block;
  }

  .heading-primary--sub {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.4rem;

    display: block;
    margin-top: 2rem;
  }
}

.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;

  color: transparent;
  background: linear-gradient(
    to right bottom,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  background-clip: text;
}

.heading-tertiary {
  font-size: var(--default-font-size);
  text-transform: uppercase;
}

.paragraph {
  font-size: var(--default-font-size);
}
