.u-center-text {
  text-align: center;
}

.u-mt-hg {
  margin-top: 6rem;
}

.u-mb-hg {
  margin-bottom: 6rem;
}

.u-mb-bg {
  margin-bottom: 4rem;
}

.u-mb-md {
  margin-bottom: 3rem;
}

.u-mb-sm {
  margin-bottom: 1.5rem;
}
