* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-primary: #55c57a;
  --color-primary-light: #7ed56f;
  --color-primary-dark: #28b485;
}

html {
  font-size: 62.5%;
}

body {
  padding: 3rem;
  box-sizing: border-box;

  font-family: 'Lato', sans-serif;
  color: #777;
}

.header {
  position: relative;

  height: 90vh;
  background: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url('../assets/hero.jpg');

  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  background-position: top center;

  & .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;

    & img {
      height: 4rem;
    }
  }

  & .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
  }
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  & .heading-primary--main {
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2rem;
    display: block;
  }
  & .heading-primary--sub {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.4rem;

    display: block;
    margin-top: 2rem;
  }
}

.btn {
  &:any-link {
    display: inline-block;
    color: #777;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.7rem;

    padding: 2rem 4rem;
    border-radius: 10rem;
  }

  &.btn--white {
    background: #fff;
    margin-top: 4rem;
  }
}
