.section-about {
  padding: 20rem 0;
  .about {
    margin-top: 8rem;

    display: flex;
    justify-content: center;
    gap: 6rem;

    .about__text-box {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      width: 35%;
    }
  }
}
